@model CMS.Data.FormModels.RegisterFM

@{
    ViewData["Title"] = "Registration Page";
}

<html>
    <head>
        <style type="text/css">  
            .bs-example {  
                height:220px;  
            }  
            .centerlook {  
                padding-left: 400px;  
                font-weight: bold;  
                width: 1000px;  
            }  
            .registerBtn {  
                padding-left: 500px;  
            }  
    </style> 
    </head>
<body>
    @using (Html.BeginForm("Registration","Account"))
    {
        <div class="bs-example">
            <div class="form-group centerlook">
                <h1> Registration </h1>
            </div>
            <div class="form-group centerlook">
                <label>User Name: </label>
                @Html.EditorFor(model => model.Username)*
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="form-group centerlook">
                <label>Email: </label>
                @Html.EditorFor(model => model.Email) *
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group centerlook">
                <label>Password: </label>
                @Html.PasswordFor(model => model.Password) *
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group centerlook">
                <label>Role: </label>
                @Html.PasswordFor(model => model.Role) *
                @Html.ValidationMessageFor(model => model.Role)
            </div>
            <div class="registerBtn">
                <input type="submit" value="Registration" class="btn btn-primary" />
            </div>
        </div>
    }
</body>
</html>